@use "../../styles/variables";

.button {
  display: flex;
  align-items: center;
  color: variables.$base-color;
  gap: 0.9rem;
  margin: 0 auto;

  border: none;
  border-radius: 6px;
  padding: 1.15rem;
  background-color: variables.$secondary-background-color;
  cursor: pointer;
}
