#root {
  text-align: center;
}

main {
  max-width: 1024px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1.5rem 0.75rem;
  margin: 0 auto;
}
